@import "./mixin";

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .dropDown {
        position: absolute;
        top: 85%;
        right: 2vw;
        height: 50px;
        width: 80px;
        background-color: white;
        border: 2px solid grey;
        border-radius: 4px;
        cursor: pointer;

        @include applydisplayFlex(column, center, center);

        span {
            text-decoration: underline;
            color: black;
        }
    }

    .hidden {
        display: none;
    }
}

.dropDown {
    position: absolute;
    top: 85%;
    right: 2vw;
    height: 50px;
    width: 80px;
    background-color: white;
    border: 2px solid grey;
    border-radius: 4px;
    cursor: pointer;

    @include applydisplayFlex(column, center, center);

    span {
        text-decoration: underline;
        color: black;
    }
}

.hidden {
    display: none;
}
