@import './mixin';

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .login {
        height: 100vh;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        @include applydisplayFlex(column, center, auto);
        &-container {
            height: 60%;
            padding: 0;
            @include applyPadding ("desktop");
            &-row {
                height: 100%;
                padding-top: 60px;
                .col-left {
                    p {
                        @include applyTitleStyle("login");
                    }
                }
                .divide {
                    @include applydisplayFlex(row, flex-end, auto);
                    &-bar {
                        
                        height: 100%;
                        width: 1px;
                        padding: 0;
                        margin-left: 3px;
                        background-color: rgba(255,255,255, 0.8);
                        box-shadow: 1px 1px 1px 0.5px rgba(223, 223, 231, 0.2);
                        
                    }
                }
                .col-right {
                    padding-top: 45px;
                    padding-right: 40px;
                    @include applydisplayFlex(column, flex-start, flex-end);
                        .form {
                            max-width: 350px;
                            height: 325px;
                            &-group {
                                height: 20%;
                                .username, .password {
                                    margin-bottom: 5px;
                                }
                                .error {
                                    color: #990000;
                                }
                            }
                            &-bottom-area {
                                height: 60%;
                                @include applydisplayFlex(column, center, center);
                                .loginBtn {
                                    background-color: #2b47be;
                                    width: 100%;
                                    border-color: none;
                                    margin-bottom: 10px;
                                }
                                .error {
                                    color: #990000;
                                }
                            }
                            
                        }
                    }
                }
        }   
    }
}