@import "./mixin";

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .taskProcess {
        @include applyStyleTableContent;

        .editArea {
            &-formGroup {
                @include applydisplayFlex(row, space-between, center);

                margin-bottom: 20px;

                .editLabel {
                    font-size: 1.2rem;
                    margin: 0;
                    height: 7%;
                    padding-left: 0;
                }

                .form-control {
                    height: 7%;
                }

                .status, .priority {
                    font-size: 1.1rem;
                    min-width: 100px;
                    padding: 0;

                    @include applydisplayFlex(row, space-between, center);

                    label {
                        margin: 0;
                    }

                    &-select {}
                }
            }
        }

        .actionArea {
            @include applydisplayFlex(row, flex-end, center);

            height: 8%;
            margin-top: 50%;

            .removeBtn {
                background-color: #ff7575;

                @include applyStyleButtonTask;
            }

            .faded {
                background-color: transparent;
            }

            .cancelBtn, .saveBtn {
                background-color: #64a7dc;

                @include applyStyleButtonTask;
            }
        }
    }
}

.taskProcess {
    @include applyStyleTableContent;

    .editArea {
        &-formGroup {
            @include applydisplayFlex(row, space-between, center);

            margin-bottom: 20px;

            .editLabel {
                font-size: 1.2rem;
                margin: 0;
                height: 7%;
                padding-left: 0;
            }

            .form-control {
                height: 7%;
            }

            .status, .priority {
                font-size: 1.1rem;
                min-width: 100px;
                padding: 0;

                @include applydisplayFlex(row, space-between, center);

                label {
                    margin: 0;
                }

                &-select {}
            }
        }
    }

    .actionArea {
        @include applydisplayFlex(row, flex-end, center);

        height: 8%;
        margin-top: 50%;

        .removeBtn {
            background-color: #ff7575;

            @include applyStyleButtonTask;
        }

        .faded {
            background-color: transparent;
        }

        .cancelBtn, .saveBtn {
            background-color: #64a7dc;

            @include applyStyleButtonTask;
        }
    }
}
