.header{
    background-color:#64a2e0;
    width: 100%;
    height: 60px;
    padding-top: 10px;
    padding-left: 15px;
}
.logout{
    text-align: right;
    display: block;
    margin-top: -42px;
    padding-right: 10px;
}