@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .taskProcess {
    height: 100%;
    padding-top: 5%;
    padding-bottom: 2%;
    overflow: scroll; }
    .taskProcess .editArea-formGroup {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px; }
      .taskProcess .editArea-formGroup .editLabel {
        font-size: 1.2rem;
        margin: 0;
        height: 7%;
        padding-left: 0; }
      .taskProcess .editArea-formGroup .form-control {
        height: 7%; }
      .taskProcess .editArea-formGroup .status, .taskProcess .editArea-formGroup .priority {
        font-size: 1.1rem;
        min-width: 100px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        .taskProcess .editArea-formGroup .status label, .taskProcess .editArea-formGroup .priority label {
          margin: 0; }
    .taskProcess .actionArea {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 8%;
      margin-top: 50%; }
      .taskProcess .actionArea .removeBtn {
        background-color: #ff7575;
        color: white;
        border: none;
        width: 90px;
        padding: 10px;
        margin-left: 20px; }
      .taskProcess .actionArea .faded {
        background-color: transparent; }
      .taskProcess .actionArea .cancelBtn, .taskProcess .actionArea .saveBtn {
        background-color: #64a7dc;
        color: white;
        border: none;
        width: 90px;
        padding: 10px;
        margin-left: 20px; } }
.taskProcess {
  height: 100%;
  padding-top: 5%;
  padding-bottom: 2%;
  overflow: scroll; }
  .taskProcess .editArea-formGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; }
    .taskProcess .editArea-formGroup .editLabel {
      font-size: 1.2rem;
      margin: 0;
      height: 7%;
      padding-left: 0; }
    .taskProcess .editArea-formGroup .form-control {
      height: 7%; }
    .taskProcess .editArea-formGroup .status, .taskProcess .editArea-formGroup .priority {
      font-size: 1.1rem;
      min-width: 100px;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .taskProcess .editArea-formGroup .status label, .taskProcess .editArea-formGroup .priority label {
        margin: 0; }
  .taskProcess .actionArea {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 8%;
    margin-top: 50%; }
    .taskProcess .actionArea .removeBtn {
      background-color: #ff7575;
      color: white;
      border: none;
      width: 90px;
      padding: 10px;
      margin-left: 20px; }
    .taskProcess .actionArea .faded {
      background-color: transparent; }
    .taskProcess .actionArea .cancelBtn, .taskProcess .actionArea .saveBtn {
      background-color: #64a7dc;
      color: white;
      border: none;
      width: 90px;
      padding: 10px;
      margin-left: 20px; }

/*# sourceMappingURL=TaskProcess.css.map */
