.mainlogin {
  width: 1031px;
  height: 697px;
  display: flex;
  margin: 20px auto;
  background: url('image/background.png');
  box-sizing: border-box;
}
.mainleft, .mainright {
  width: 50%;
  height: 50%;
  margin: auto;
  background: none;
  box-sizing: border-box;
}
.mainleft {
  border-right: 2px solid #a8c7e5;
}
.mainleft h2 {
  font-family: 'RobotoCondensed', sans-serif;
  font-size: 50px;
  padding-left: 110px;
  font-weight: lighter;
  color: white;
}
.mainleft h2:last-child {
  margin-top: -30px;
}
.mainright {
  text-align: center;
}
.mainright input {
  width: 50%;
  height: 37px;
  border: none;
  background: #e6e6e6;
  border-radius: 3px;
  margin-top: 28px;
  text-indent: 0.75rem;
  outline:none;
}
.mainright button {
  height: 37px;
  width: 50%;
  margin-top: 58px;
  background: #2b47be;
  border: none;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline:none;
}

/*============================================*/